*
{
margin: 0;
padding: 0;
font-family: "Montserrat", "arial", "sans-serif";

}


li 
{
list-style-type: none;
}

.resume_gauche
{
display: flex;
flex-direction: column;
background: #FF6F28;
width: 23em;
position: absolute;
top: 0px;
height: auto;
}

.resume_gauche .box img
{
transform: scale(0.9);
border-radius: 50%;
box-shadow: 0px 0px 2px 3px rgba(255, 160, 0, 1);

}

.box
{
display: flex;
justify-content: center;
align-items: center;
padding-top: 1.875em;
padding-bottom: 1.875em;
}
.contact ul, .propos p + p
{
color:rgb(47,46,42);
font-weight: 500;
}

.contact ul
{
padding-top: 1.25em;
padding-left: 2.5em;
}

.contact ul li
{
margin: 0 0 20px 0;
}

a:link
{
color:rgb(47,46,42);
}

a:hover
{
  color: white;
}
.propos p + p
{
padding: 1.875em;
text-align: justify;
margin-bottom: 20em;
}

.loisirs i
{
padding: 0.5em;
color:rgb(47,46,42);
}

.bold
{
font-weight: 700;
font-size: 1.563em;
text-transform: uppercase;
color: #FF6F28;
background-color: rgb(47,46,42);
height: 3.125em;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/  
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 

.resume_droite
{
padding-left: 25em;
}
header
{
  padding-left: 25em;
}

header .box
{
  display: none;
}

h1
{
padding-top: 4.250em;
}

h1 .bold2
{
text-transform: uppercase;
color: #FF6F28;
font-weight: 500;
font-size: 2em;
}

h1 .light
{
font-weight: 200;
font-size: 2em;
color: rgb(47,46,42);
}

.bold2
{
font-weight: 500;
font-size: 1.250em;
text-transform: uppercase;
}

h2
{
font-weight: 500;
font-size: 1.9em;
text-transform: uppercase;
color: rgb(47,46,42);
}

h2::after
{
content: " ";
display: block;
  border-bottom: 2px solid #FF6F28;
}

h2 i
{
color: #FF6F28;
}

section ul li p i
{
  color: #FF6F28;

}

section ul li p
{
  font-weight: 500;
  color: rgb(47,46,42);
}

h3 span
{
border-bottom: 2px solid #FF6F28;
}

h3
{
color: rgb(47,46,42);
}

 section
{
padding-top: 2.750em;
}

article ul li, section ul li
{
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
  margin: 1.875em 0 1.875em 1.875em;
}

article i
{
color: #FF6F28;
}

article li p
{
  font-weight: 500;
  color: rgb(47,46,42);
}
.texte
{
 color: rgb(47,46,42);
 font-weight: 500;
}


.block ul 
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  color: rgb(47,46,42);
}

h4
{
text-transform: uppercase;
color: rgb(47,46,42);
margin-bottom: 0.7em;
}

h5
{
color: rgb(47,46,42);
font-size: 16px;
font-weight: 500;
margin-bottom: 0.7em;
}

/**-------------OMEGA BIG SCREEN-------------**//**-------------OMEGA BIG SCREEN-------------**/
/**-------------OMEGA BIG SCREEN-------------**//**-------------OMEGA BIG SCREEN-------------**/
/**-------------OMEGA BIG SCREEN-------------**//**-------------OMEGA BIG SCREEN-------------**/

@media screen and (min-width: 1920px) and (max-width: 2560px) 
{

h1 .bold2
{
text-transform: uppercase;
color: #FF6F28;
font-weight: 500;
font-size: 4.7em;
}

h1 .light
{
font-weight: 200;
font-size: 4.7em;
}

h3
{
  padding-left: 0.2em;
  font-size: 3.5em;
}

h2
{
  font-size: 3em;
}

h5
{
  font-size: 1em;
}

p
{
  font-size: 1.8em;
}

header
{
  padding-bottom: 3em;
}
.bold
{
  font-size: 2.5em;
}

.contact ul
{
  font-size: 1.8em;
}

.propos p+p
{
  font-size: 1.8em;
  margin-bottom: 2em;
}
.texte
{
  width: 80%;
  text-align: justify;
  padding-right:  2em;
  font-size: 1.8em;
}

section ul li p
{
  width: 20%
}

.block ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 10em;
  font-size: 1.8em;

}

.resume_gauche
{
  height: 133em;
  width: 30em;
}

.bold
{
  
  bottom: 0
  
}

article
{
  padding: 2em 0 1em 0;
}

.loisirs 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-top: 2em;
  font-size: 1.4em;
}


.resume_droite, header
{
  padding-left: 35em;
}

}

/**-----------EVEN BIGGER SCREENS----------**//**-----------EVEN BIGGER SCREENS----------**/
/**-----------EVEN BIGGER SCREENS----------**//**-----------EVEN BIGGER SCREENS----------**/
/**-----------EVEN BIGGER SCREENS----------**//**-----------EVEN BIGGER SCREENS----------**/
@media screen and (min-width: 1440px) and (max-width: 1920px) 
{

h1 .bold2
{
text-transform: uppercase;
color: #FF6F28;
font-weight: 500;
font-size: 3.7em;
}

h1 .light
{
font-weight: 200;
font-size: 3.7em;
}

h3
{
  padding-left: 0.2em;
  font-size: 3em;
}

h2
{
  font-size: 2.2em;
}

h5
{
  font-size: 1em;
}

p
{
  font-size: 1.5em;
}

header
{
  padding-bottom: 3em;
}
.bold
{
  font-size: 1.7em;
}

.contact ul
{
  font-size: 1.3em;
}

.propos p+p
{
  font-size: 1.3em;
  margin-bottom: 2em;
}
.texte
{

  width: 80%;
  text-align: justify;
  padding-right:  2em;
  font-size: 1.3em;
}

section ul li p
{
  width: 20%;
}


.block ul
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 10em;
  font-size: 1.3em;

}

.resume_gauche
{
  height: 105em;
}

.bold
{
  
  bottom: 0
  
}

article
{
  padding: 2em 0 1em 0;
}

.loisirs 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-top: 2em;
}

}
