*
{
margin: 0;
padding: 0;
font-family: "Montserrat", "arial", "sans-serif";

}


.resume 
{
width: 100%;
height: auto;
display: flex;
margin: auto;
}

li 
{
list-style-type: none;
}

.resume_gauche
{
background: rgb(254,202,7);
width: 370px; 
}

img
{
transform: scale(0.9);
border-radius: 50%;
box-shadow: 0px 0px 2px 3px rgba(255, 160, 0, 1);
}

.box
{
display: flex;
justify-content: center;
align-items: center;
padding-top: 30px;
padding-bottom: 30px;
}
.contact ul, .propos p + p
{
color:rgb(74,74,74);
font-weight: 500;
}

.contact ul
{
padding-top: 20px;
padding-left: 40px;
}

.contact ul li
{
margin: 0 0 20px 0;
}

.propos p + p
{
padding: 30px;
text-align: justify;
margin-bottom: 400px;
}

.loisirs i
{
padding: 30px;
color:rgb(74,74,74);
}

.bold
{
font-weight: 700;
font-size: 25px;
text-transform: uppercase;
color: rgb(254,202,7);
background-color: rgb(64,64,64);
height: 50px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/  
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 

.resume_droite
{
width: 740px;
padding-left: 70px;
}

h1
{
padding-top: 100px;
}

h1 .bold2
{
text-transform: uppercase;
color: rgb(254,202,7);
font-weight: 500;
font-size: 2em;
}

h1 .light
{
font-weight: 200;
font-size: 2em;
}

.bold2
{
font-weight: 500;
font-size: 20px;
text-transform: uppercase;
}

h2
{
font-weight: 500;
font-size: 1.9em;
text-transform: uppercase;

}

h2::after
{
content: " ";
display: block;
  border-bottom: 2px solid rgb(254,202,7)
}

h2 i
{
color:rgb(254,202,7);
}

h3 span
{
border-bottom: 2px solid rgb(254,202,7)
}

h3
{
color:rgb(74,74,74);
}

.resume_droite  ul li 
{
margin-top: 30px;
margin-bottom: 30px;
margin-left: 30px;
}

.boldupper
{
font-weight:700;
text-transform: uppercase;
}

.littlebold
{
font-weight: 500;
}

.formation
{
padding-top: 140px;
}

p i
{
color:rgb(254,202,7);
}

.formation ul
{
display: flex;
flex-direction: row;
align-items: stretch;
}

.block p span
{
font-weight: 700;
text-transform: uppercase;
}

.block
{
font-weight: 500;
color: rgb(74,74,74);
display: flex;
justify-content: space-between;
margin: 10px;
}

.texte
{
 margin: 20px;
 max-width: 400px;
}

.texte p
{
padding-top: 110px;
}

div p
{
margin-top: 20px;
}

.recommandations ul
{
width: 600px;
color: rgb(74,74,74);
display: flex; 
flex-direction: row;
justify-content: space-between;
justify-content: flex-start;
}

.block2
{
font-weight: 500;
color: rgb(74,74,74);
display: flex;
flex-direction: row;
justify-content: space-between;
}

.block2 span
{
text-transform: uppercase;
}
