*
{
margin: 0;
padding: 0;
font-family: "Montserrat", "arial", "sans-serif";
}

li 
{
list-style-type: none;
}

.resume_gauche
{
display: flex;
flex-direction: column;
background: rgb(254,202,7);
width: 23em;
position: absolute;
top: 0px;
}

img
{
transform: scale(0.9);
border-radius: 50%;
box-shadow: 0px 0px 2px 3px rgba(255, 160, 0, 1);

}

.box
{
display: flex;
justify-content: center;
align-items: center;
padding-top: 1.875em;
padding-bottom: 1.875em;
}
.contact ul, .propos p + p
{
color:rgb(74,74,74);
font-weight: 500;
}

.contact ul
{
padding-top: 1.25em;
padding-left: 2.5em;
}

.contact ul li
{
margin: 0 0 20px 0;
}

.propos p + p
{
padding: 1.875em;
text-align: justify;
margin-bottom: 25em;
}

.loisirs i
{
padding: 0.5em;
color:rgb(74,74,74);
}

.bold
{
font-weight: 700;
font-size: 1.563em;
text-transform: uppercase;
color: rgb(254,202,7);
background-color: rgb(64,64,64);
height: 3.125em;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/  
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 
/**deuxieme partie**/ /**deuxieme partie**/ /**deuxieme partie**//**deuxieme partie**/ 

.resume_droite, header
{
width: 46.250em;
padding-left: 26.875em;
}

h1
{
padding-top: 6.250em;
}

h1 .bold2
{
text-transform: uppercase;
color: rgb(254,202,7);
font-weight: 500;
font-size: 2em;
}

h1 .light
{
font-weight: 200;
font-size: 2em;
}

.bold2
{
font-weight: 500;
font-size: 1.250em;
text-transform: uppercase;
}

h2
{
font-weight: 500;
font-size: 1.9em;
text-transform: uppercase;

}

h2::after
{
content: " ";
display: block;
  border-bottom: 2px solid rgb(254,202,7)
}

h2 i
{
color:rgb(254,202,7);
}

h3 span
{
border-bottom: 2px solid rgb(254,202,7)
}

h3
{
color:rgb(74,74,74);
}

.resume_droite  ul li 
{
margin: 1.875em 0 1.875em 1.875em;
}

.boldupper
{
font-weight:700;
text-transform: uppercase;
}

.littlebold
{
font-weight: 500;
}

.formation
{
padding-top: 8.750em;
}

p i
{
color:rgb(254,202,7);
}

.formation ul
{
display: flex;
flex-direction: row;
align-items: stretch;
}

.block p span
{
font-weight: 700;
text-transform: uppercase;
}

.block
{
font-weight: 500;
color: rgb(74,74,74);
display: flex;
justify-content: space-between;
margin: 0.625em;
}

.texte
{
 margin: 1.250em;
 max-width: 25em;
}

.texte p
{
padding-top: 6.875em;
}

div p
{
margin-top: 1.250em;
}

.recommandations ul
{
width: 37em;
color: rgb(74,74,74);
display: flex; 
flex-direction: row;
justify-content: space-between;
justify-content: flex-start;
}

.block2
{
font-weight: 500;
color: rgb(74,74,74);
display: flex;
flex-direction: row;
justify-content: space-between;
}

.block2 span
{
text-transform: uppercase;
}

@media screen and (max-width: 600px)
{
  .resume
  {
    width: 100%;
  }
  
  .resume_gauche
  {
    bottom: 0;
    width: 100vw;
    height: 22rem;
    
    position: relative;

  }

  .box
  {
    display: none;
  }

  .resume_droite
  {
    width: 100vw;
    padding: 0;
  }

  .propos p + p
  {
    width: 300px;
  }
}